body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  rgba(50, 143, 237, 0.627);
}


label{
  margin-bottom: 0.2rem;
}

input,textarea{
  background-color: rgb(50, 144, 237);
  color: white;
  width: 100%;
  padding: 0.5rem ;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
}